$primary-color: #506BFA;
$secondary-color: #88b06a;
$secondary-dark-color: #79876e;
$dark-primary-color: #3f5dfa;
$light-secondary-color: #ff9083;
$dark-accent-color: #00364f;

$accent-color: #0049ff;
$accent-secondary: #0042eb;

// $gradient-color:#000000 ... #545454 (0%);
$dark-color: #212121;
$dark-secondary-color: #585858;
$success-color: #42a173;
$warning-color: #c0913b;
$danger-color: #f44336;
/*--- */

$default-color: #666666;
$default-secondary-color: #999999;
$white-color: #fff;

/* text color*/

$text-primary: #ffb600;
$text-light: #f2f3f8;
$text-light-secondary: #ebebeb;

/* for fill background-color */

/* color palette */

$fill-light: #fdfdfd;
$fill-light-secondary-bg: #e1e1e1;
$fill-dark: #242424;
$fill-dark-secondary: #707070;

$text-dark: #242424;
$text-dark-secondary: #707070;

/* color palette */